@import '../components/home/section-banner';
@import '../components/home/section-contact';

%quote-style {
    font-family: $helper-font;
    font-size: 37px;
    font-weight: 700;
    color: rgba(85, 83, 101, 0.3);
    line-height: inherit;
    vertical-align: middle;
}

.section-blog {
    padding: 30px 0;
    @include respond-to($lg) {
        padding: 60px 0;
    }
    @include respond-to($xl) {
        padding: 150px 0 103px;
    }
    .filter-bar {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
        @include respond-to($md) {
            flex-wrap: wrap;
            justify-content: space-between;
        }
        @include respond-to($xl) {
            flex-direction: row;
            margin-bottom: 101px;
        }
    }
    .category-nav {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        @include respond-to($xl) {
            justify-content: flex-start;
        }

        .btn-category {
            flex-grow: 1;
            margin: 0 5px 20px;
            @include respond-to($xl) {
                margin: 0 20px 0 0;
                &:last-child {
                    margin-right: 0;
                }
            }

        }
    }
    .sorting {
        position: relative;
        width: 100%;
        max-width: 230px;
        margin-left: auto;
        &:after {
            position: absolute;
            display: block;
            content: '';
            right: 25px;
            top: 20px;
            width: 7px;
            height: 7px;
            pointer-events: none;
            border-right: 2px solid rgba(66, 63, 84, 0.4);
            border-bottom: 2px solid rgba(66, 63, 84, 0.4);
            transform: rotate(45deg);
            z-index: 1;
        }
        select {
            appearance: none;
            border: none;
        }
    }
    .top-content-posts {
        margin-bottom: 50px;
        @include respond-to($lg) {
            margin-bottom: 62px;
        }
        .card-post {
            height: auto;
            &:first-child {
                margin-bottom: 46px;
            }
            @include respond-to($lg) {
                margin-bottom: 46px;
            }
        }
        .small-post-item {
            margin-bottom: 0;
            .card-post {
                margin-bottom: 0;
            }
        }
    }
    .post-item {
        margin-bottom: 48px;
    }
    .bottom-content-posts {
        padding-top: 46px;
        @include respond-to($sm) {
            padding-top: 80px;
        }
        @include respond-to($lg) {
            padding-top: 110px;
        }
        @include respond-to($xl) {
            padding-top: 150px;
        }
        .posts-list {
            justify-content: center;
        }
    }
    .blockquote {
        display: flex;
        align-items: center;
        padding: 70px 40px;
        text-align: center;
        height: 100%;
        @include respond-to($sm) {
            padding: 70px;
        }
        .blockquote-author {
            text-transform: uppercase;
            &-white {
                color: rgba(66, 63, 84, 0.5);
            }
            &-color {
                color: rgba(255, 255, 255, 0.5);
            }
        }
        .blockquote-text {
            margin-bottom: 34px;
            &:before {
                content: '\201c';
                margin-right: 13px;
                @extend %quote-style;
            }
            &:after {
                content: '\201d';
                margin-left: 13px;
                @extend %quote-style;
            }
        }
        &-bg-img {
            background-image: url(../../img/bg-blockquote.png);
            background-color: $grey-900;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            max-width: 100%;
            overflow: hidden;
            color: $white;
            .blockquote-text:before,
            .blockquote-text:after {
                color: $warm;
            }
        }
        &-bg-white {
            background-color: $white;
            color: $grey;
        }
    }
}






