.card-post {
    width: 100%;
    height: 100%;
    text-align: center;
    background: $white;
    .wrap-thumb {
        position: relative;
        padding-top: 70%;
        overflow: hidden;
        margin: 0 auto;
        video {
            position: absolute;
            display: block;
            width: 100%;
            height: auto;
        }
        &-high {
            padding-top: 100%;
            @include respond-to($md) {
                height: 100%;
                padding-top: 0;
            }
        }
    }
    .img-post {
        position: absolute;
        top: -9999px;
        left: -9999px;
        right: -9999px;
        bottom: -9999px;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        margin: auto;
        transition: .5s;
        &:hover {
            transform: scale(1.5);
        }
    }
    .play {
        position: absolute;
        width: 80px;
        height: 80px;
        border: none;
        border-radius: 50%;
        background-color: $white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0 0 52.2px 7.8px rgba(157, 166, 189, 0.34);
        z-index: 1;
        &:after {
            position: absolute;
            content: "";
            top: 50%;
            left: 49%;
            border: 9px solid transparent;
            border-left: 13px solid white;
            z-index: 2;
            transform: translate(-25%, -50%);
        }
        &:before {
            position: absolute;
            content: "";
            display: block;
            left: 50%;
            top: 50%;
            border: 17px solid transparent;
            border-left: 22px solid black;
            transform: translate(-25%, -50%);
            z-index: 2;
        }
    }
    .btn-ovate {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 3;
    }
    .post-content {
        padding: 33px;
    }
    .title-post {
        color: $grey;
        margin-bottom: 8px;
        a {
            display: block;
            transition: .35s;
            &:hover,
            &:focus {
                color: $warm;
            }
        }
    }
    .date-post {
        display: block;
        text-transform: uppercase;
        margin-bottom: 29px;
        color: rgba(66, 63, 84, 0.5);
    }
    .text-post {
        color: $grey-400;
    }
    &-big {
        @include respond-to($xl) {
            text-align: left;
            .heading {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                margin-bottom: 20px;
            }
            .post-content {
                padding: 38px 33px 46px;
            }
            .btn-ovate {
                right: 20px;
                left: auto;
            }
            .title-post {
                max-width: 425px;
            }
        }
    }
    &-hide-content {
        @include respond-to($xl) {
            position: relative;
            overflow: hidden;
            &:hover .post-content {
                height: 100%;
                transform: translateY(0);
            }
            .wrap-thumb {
                position: relative;
                overflow: hidden;
            }
            .img-post {
                transform: scale(1);
            }
            .post-content {
                position: absolute;
                background: rgba(255, 255, 255, .9);
                bottom: 0;
                left: 0;
                right: 0;
                height: 0;
                transform: translateY(100%);
                transition: .6s;
                z-index: 3;

            }
        }
    }
}
