.btn {
    display: inline-block;
    font-size: 16px;
    font-family: $primary-font;
    font-weight: 400;
    line-height: 1.88;
    text-align: center;
    &-main {
        background: transparent;
        border: 1px solid $light;
        color: $light;
        text-transform: uppercase;
        font-weight: 600;
        padding:15px 40px 14px;
        transition: all .3s ease;
        backface-visibility: hidden;
        &:hover,
        &:focus {
            transform: scale(1.1);
        }
    }
    &-category {
        font-weight: 500;
        background: $white;
        color: rgba(66, 63, 84, 0.7);
        padding: 9px 38px 8px 36px;
        min-width: 140px;
        &.active {
            background: $blue;
            color: $white;
        }
        &:hover,
        &:focus {
            background: $blue-100;
            color: $grey-900;
        }
    }
    &-ovate {
        color: white;
        padding:4px 13px 4px 16px;
        background: rgba(0, 0, 0, .7);
        border-radius: 20px;
        transition: .35s;
        min-width: 101px;
        &:hover,
        &:focus {
            background: $warm;
            color: $grey-900;
        }
    }
    &-burger {
        border: none;
        background: transparent;
        margin-right: 20px;
    }
}