.footer-top {
    background-color: $white;
    text-align: center;
    @include respond-to($md) {
        text-align: left;
    }
    .container {
        position: relative;
        padding-top: 40px;
        padding-bottom: 33px;
        @include respond-to($sm) {
            padding-top: 50px;
        }
        @include respond-to($md) {
            padding-top: 60px;
        }
        @include respond-to($xl) {
            padding-top: 74px;
        }
        &:after {
            position: absolute;
            display: block;
            content: "";
            bottom: 0;
            left: -50px;
            right: -50px;
            height: 1px;
            background-color: $grey-300;
            opacity: .2;
            z-index: 2;
        }
    }
    .logo-site-dark {
        display: block;
        margin-bottom: 34px;
    }
    .adress {
        text-align: center;
        font-size: 15px;
        line-height: 2;
        color: $secondary;
        margin-bottom: 19px;
        @include respond-to($md) {
            text-align: right;
            margin-bottom: 0;
        }
    }
    .menu-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-bottom: 10px;
        @include respond-to($md) {
            margin-bottom: 0;
        }

        .menu-item a {
            position: inherit;
            text-align: center;
            padding: 20px 9px;
            margin-right: 42px;
            @include respond-to($md) {
                text-align: left;
            }
            &:hover,
            &:focus {
                color: $warm;
            }
        }
    }
}

.footer-bottom {
    background-color: $white;
    padding: 30px 0 28px;
    text-align: center;
    .copyrite {
        font-family: $secondary-font;
        font-size: 14px;
        font-weight: 300;
        line-height: 1.86;
        color: $grey-500;
        margin-bottom: 15px;
        @include respond-to($md) {
            text-align: left;
        }
        @include respond-to($lg) {
            margin-bottom: 0;
        }
        br {
            @include respond-to($lg) {
                display: none;
            }
        }
    }
}