.header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $white;
    z-index: 1000;
    .logo-site {
        display: inline-block;
        vertical-align: middle;
        max-width: 210px;
        height: auto;
        @include respond-to($sm) {
            max-width: 273px;
        }
    }
    .img-logo-site {
        display: block;
        width: 100%;
        height: auto;
    }
    .menu-header {
        padding-right: 45px;
    }
    .burger {
        margin-right: 45px;
        @include respond-to($xl) {
            display: none;
        }
    }
    .close {
        @include respond-to($xl) {
            display: none;
        }
    }
    .fa {
        font: normal normal normal 20px/1 FontAwesome;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
    .backdrop {
        position: fixed;
        display: none;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $grey-800;
        opacity: 0.5;
        z-index: 5000;
    }
}
